.container {
    width: 1170px;
    padding: 0px 15px;
    margin: 0px auto;
}

.top-wrapper {
    padding-top: 180px;
    padding-bottom: 100px;
    color: white;
    background-image: url(https://prog-8.com/images/html/advanced/top_en.png);
    background-size: cover;
    text-align: center;
    
}

.top-wrapper h1 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.top-wrapper p {
    opacity: 0.7;
    margin-bottom: 3px;
}

.btn-wrapper {
    margin: 20px 0px;
}

.btn-wrapper p {
    margin: 10px 0px;
}

.btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
}

.btn:hover {
    opacity: 1;
}

.signup {
    background-color: #239b76;
}

.facebook {
    background-color: #3b5998;
    margin-right: 10px;
}

.twitter {
    background-color: #55acee;
}

.fa {
    margin-right: 5px; 
}